.collection-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &__link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &:hover {
      font-weight:bold;
    }
  }
  &__image {
    width: 54px;
    height: 64px;
    background-color: #eeeeee;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 16px;
  }

  &__content {
    flex: 1;
    padding: 0;
  }

  &__title {
    height: 12px;
    max-width: 400px;
    font-weight: bold;
  }

  &__description {
    height: 3em;
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #888888;
    &:hover {
      color: rgb(30, 27, 27);
      font-weight:bold;
    }
  }
}

.placeholder {
  background-color: #eeeeee;
}
